numpy
Pyfhel
pandas
matplotlib
scipy
pyspark
cryptography
boto3
torch
diffprivlib
opacus
tensorflow
keras
tensorflow_federated
sdv>=1.0.0
adversarial-robustness-toolbox 
torch 
numpy 
matplotlib 
scikit-learn
seaborn
fairlearn
witwidget
huggingface_hub